/*
CSS Rules
Syntax:  ;
selector {
	property:  value;
}
*/

/*h1 {
	color:  yellow !important;
}*/

/*1. UNIVERSAL SELECTOR (LOWEST)*/
/*Change the font of every element in HTML*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}
/*The "*" symbol is a "universal selector" and is used to target ALL elements*/
/*The "font-family" property changes the style of the font.*/
/*The value "Courier New" is used as the primary font and the value "monospace" is used as a secondary font when a browser is unable to use the primary font. */
/*The value "20px" refers to 20 pixels in size.*/

/*2. TYPE SELECTOR*/
body {
	background-color: skyblue;
}
/*The "background-color" property changes the background color of an element.*/

/*3. ATTRIBUTE SELECTOR*/
/*The attribute selector only works based on the exact attribute syntax provided in the HTML tag. It's also case sensitive.*/
input[required] {
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    width: 90%;
}

/*4. CLASS SELECTOR*/
/*The "class" attribute is used to target elements with similar styling. This is a good approach to use for elements that have similar styles across the whole application.*/
.offering-item {
	text-transform:  uppercase;
}
/*
- The "text-transform" property changes font to a certain case
- The value "uppercase" changes text to all capitalized letters.
*/

/*5. ID SELECTOR*/
/*h3 {
	letter-spacing: 10px;
}*/
#zuitt-motto {
	letter-spacing: 5px;
}
/*
- The "id" attribute is used to target elements with unique styling. This is a good approach to use for elements that should have their own style across the whole application. 
- The "letter-spacing" property changes the spaces in between characteres of a text. 
- ID selectors have the highest priority for selectors. In this example, the styling of the h3 type selector will not work because ID selector has a higher priority
*/

/*CSS SELECTOR COMBINATORS*/

/*ADJACENT SIBLING SELECTOR*/
/*
Syntax:  
	sibling_element + target_element {
	property:  value;
	}
*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*GENERAL SIBLING SELECTOR*/
/*
Syntax:  
sibling_element ~ target_element {
	property:  value;
}
*/
h2 ~ a, a{
	text-decoration: none;
}

/*CHILD SELECTOR*/
/*
Syntax:  
	selector1 > selector2 {
	style:  properties;
	}
*/
body > section > form > label {
	color: rgb(0,0,128);
}
/*RGB Colors*/

/*DESCENDANT SELECTORS*/
/*
	Syntax:  
	selector1 selector {
	style:  properties;
	}
*/
#bootcamp-learning-list li{
	color:  #075966;
}
/*Hexadecimal Colors*/

/*WHOLE HTML*/
html {
	scroll-behavior: smooth;
}

/*Navigation Bar*/
nav {
	background-color: white;
}

/*Selector:  Hover Pseudo Class*/
/*Changes the style when hovered over*/
a:hover {
	background-color: #b4d6de;
}

/*DIV for the Navigation Bar*/
div {
	display:  inline-block;
	float: right;
}

/*Landing Section & Form Section*/
section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

/*Remove numbers from list*/
ol {
	list-style-type: none;
}

/*Register Section/Form*/
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}

/*
- The "background-color" property changes the background color of an element.
- The "scroll-behavior" property changes the scrolling behavior when clicking on anchor tags.
- The value "smooth" changes the scrolling behavior of a page jumping from one section to the next to smoothly scroll to a section. 
- The "a:hover" pseudo class will change the style of an element when it is hovered over;
- The "display" property changes the visibility and the behavior of an element's box. 
- The value "inline-block" will allow the div element to be inline with sibling element and occupy the remaining space as if it were a block element. 
- The "float" property changes the horizontal alignment of an element and occupy the remaining space as if it were a block element. 
- The "float" property changes the horizontal alignment of an element to float either to the left or right of it's container
- The "text-align" property changes the horizontal alignment of text or all nested text elements. 
- The "font-size" property changes the size of text. 
- The value "rem" is based on the "font-size" property of the "root element". In this case, the "font-size" of the root element is at 20px defined by the Universal Selector. The rem value acts as a multiplier of this value. "2rem" is equivalent to "20px". Using this text allows us to implement consistenct within text styles instead of providing varying pixel values to text.
- The default value of the root element is at "16px."
- The value "vh" refers to viewport height. This value is based on a percentage of the browser's screen size and is good to use for elements that we cant to have a responsive change in size referencing the browser's screen. 
- The "list-style-type" property changes the bullet point used in a list. 
- The value "none" will remove the bullet points used in a list
- CSS rules may be applied to multiple selectors using a comma(,). Add the tag after the Generic Sibling Selector (h2 ~ a, a) to also apply the properties defines in the rule to apply to a tag and remove the underline. 
- Some CSS properties have a shorthand property that combines several properties into one. An example of this is the "border" property which combines the "border-width", "border-style", and "border-color" properties into one. 
- The value "2px solid black" refers to the "border-width", "border-style", and "border-color" respectively. 
- Use "absolute measurements" like "px" for elements that we don't want to change in dimension regardless of screensize. "Relative measurements" like "vw" and "vh" are good for responsive design. 
- The value "vw" refers to viewport width
- The "position" property changes the position of an element based on certain criteria. 
- The value "relative" tells the element to move in relation to its original position in the HTML document. 
The "left" property is used along with the "position" property to add a certain measurement to the left of an element. The "right", "top", and "bottom" properties also function the same way. Though only two at a time is recommended to be used to position elements. Either the "top" or "bottom" for vertical alignment and the "left" and "right" for horizontal alignment. 
The value "%" is based on the measurement of the parent element. The parent element is the "section" tag which is a block element and occupies the full width of the page. 
*/
