* {
	font-family: 'verdana', sans-serif;
	font-size: 20px;
}

.third-paragraph {
	color: #ffff00;
}

h1 {
	font-size: 40px;
}

#heading-two {
	text-transform: uppercase;
}

.languages {
	background-color: #AED0A1;
}

[data-name="tool-item"] {
	border: 2px solid #7ea4ca;
}

.other-image + ul {
	list-style: none;
}


.things-to-be-learned img {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

.other-image ~ .last-paragraph {
	text-align: center;
}

.things-to-be-learned > ul {
	letter-spacing: 8px;
}

